@using Model.Entities;
@model Booking

<!-- Begin Page Content -->
<div class="container-fluid">

    <!-- Page Heading -->
    <h1 class="h3 mb-2 text-gray-800">Booking Details</h1>

    <!-- DataTales Example -->
    <div class="card shadow mb-4">
        <div class="card-body">
            <form>
                <div class="row">
                    <div class="form-group col-md-2">
                        <label>ID</label>
                        <input class="form-control" disabled id="txtID" value="@Model.ID">
                    </div>

                    <div class="form-group col-md-2">
                        <label>Status</label>
                        <select class="form-control" id="txtStatus">
                            <option value="0" @(Model.Status == 0 ? "selected" : "")>Chờ xử lý</option>
                            <option value="1" @(Model.Status == 1 ? "selected" : "")>Chấp thuận</option>
                            <option value="999" @(Model.Status == 999 ? "selected" : "")>Hoàn thành</option>
                            <option value="-1" @(Model.Status == -1 ? "selected" : "")>Hủy</option>
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>RoomType</label>
                        <select class="form-control" id="txtRoomTypeID">
                          
                        </select>
                    </div>
                    <div class="form-group col-md-2">
                        <label>TotalPrice</label>
                        <input class="form-control" id="txtTotalPrice" value="@Model.TotalPrice">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label>GuessName</label>
                        <input class="form-control" id="txtGuessName" value="@Model.GuessName">
                    </div>

                    <div class="form-group col-md-2">
                        <label>CheckIn</label>
                        <input class="form-control" id="txtCheckIn" value="@Model.CheckIn.ToString("dd/MM/yyyy")">
                    </div>
                    <div class="form-group col-md-2">
                        <label>CheckOut</label>
                        <input class="form-control" id="txtCheckOut" value="@Model.CheckOut.ToString("dd/MM/yyyy")">
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <label>Email</label>
                        <input class="form-control" id="txtEmail" value="@Model.Email">
                    </div>
                    <div class="form-group col-md-4">
                        <label>PhoneNo</label>
                        <input class="form-control" id="txtPhoneNo" value="@Model.PhoneNo">
                    </div>
                </div>

                <button type="submit" class="btn btn-primary" id="btnSubmit">Submit</button>
            </form>
        </div>
    </div>

</div>
<!-- /.container-fluid -->

@section pageJs {
    <script>
        $(document).ready(function () {
            var currentRoomType = '@Model.RoomTypeID';
            loadRoomTypes(currentRoomType);

            $('#btnSubmit').on('click', function (e) {
                e.preventDefault();
        
                var params = {
                    ID: $('#txtID').val(),
                    RoomTypeID: $('#txtRoomTypeID').val(),
                    CheckIn: moment($('#txtCheckIn').val(),"DD/MM/YYYY"),
                    CheckOut: moment($('#txtCheckOut').val(),"DD/MM/YYYY"),
                    GuessName: $('#txtGuessName').val(),
                    Email: $('#txtEmail').val(),
                    PhoneNo: $('#txtPhoneNo').val(),
                    TotalPrice: $('#txtTotalPrice').val(),
                    Status: $('#txtStatus').val(),
                };

                $.ajax({
                    url: '/Booking/Create',
                    type: 'post',
                    contentType: 'application/json',
                    data: JSON.stringify(params),
                    success: function (res) {
                        if (res.IsSuccess) {
                            toastr["success"]("Save successfully!");
                        }
                    }
                });
            });


        });

        function loadRoomTypes(currentRoomType) {
            $.ajax({
                url: '/RoomType/GetAll',
                type: 'get',
                success: function (res) {
                    if (res.IsSuccess) {
                        if (Array.isArray(res.Data) && res.Data.length > 0) {
                            var optionsHtml = '';
                            $.each(res.Data, function (index, item) {
                                var selectedTag = '';
                                if (item.Type == currentRoomType) {
                                    selectedTag = 'selected';
                                }

                                optionsHtml += '<option value="' + item.ID + '" '+ selectedTag +'>' + item.Name + '</option>';
                            });

                            $('#txtRoomTypeID').html(optionsHtml);
                        }
                    }
                }
            });
        }
    </script>
}